<!DOCTYPE html>
<head>
	<title> Ruby on Rails Tutorial Sample App | Home </title>
</head>
<body>
	<h1> Homepage of Sample app </h1>
	<p> This is the home page from the Pages Controller </p>
</body>
</html>
